body {

    background-color: rgb(82, 6, 6);
}

nav {
  color: black;
  font-size: 40px;
  background-color: rgb(141, 29, 29);
}

.jumbotron {
    background-image: url("../images/bacteria.jpeg");
    background-size: 100% 100%;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(158, 64, 64);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(43, 43, 43);
}